* {
    margin: 0px;
}

:root {
    --corbackground: #2C858D;
    --corbackground2: #74CEB7;
    --bodybackground: #FFFFCB;
    --corfundotext: #C9FFD5;
    --corextra: #004056;
    --fontetexto: normal 1em 'arial';
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonte/BebasNeue-Regular.ttf') format('TrueType');
}

body {
    background-repeat: repeat;
    background-image: url(imagens/wallpaper004.jpg);
    background-size: cover;
}

header {
    background-image: linear-gradient(360deg, var(--corbackground), var(--corbackground2));
    padding: 18px;
    max-width: 2560px;
    min-width: 400px;
}

header p {
    font: var(--fontetexto);
    text-align: center;
    margin-top: 10px;
    color: white;
}

header h1 {
    font: bold 3em 'Bebas Neue', 'cursive';
    text-align: center;
    color: white;
}

main {
    background-color: white;
    max-width: 900px;
    min-width: 400px;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 4px 7px 2px rgba(56, 56, 56, 0.24);
    border-radius: 0px 0px 5px 5px;
}

article h1 {
    background-image: linear-gradient(90deg, var(--corbackground), white);
    padding: 5px;
    color: white;
    font: bolder 2em 'Arial';
    margin-top: 7px;
    border-radius: 4px;
}

article p {
    margin-top: 5px;
    font: var(--fontetexto);
    text-align: justify;
    line-height: 1.3em;
    background-color: var(--corfundotext);
    padding: 5px;
    text-indent: 30px;
    border-radius: 2px;
    margin-bottom: 15px;
}

article ul {
    font: var(--fontetexto);
    list-style-type: '\2714';
    background-color: var(--corfundotext);
    padding: 5px;
    padding-left: 20px;
    line-height: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 4px;
    columns: 2;
}  

li::before {
    content: '.';
}

ul {
    list-style-position: inside;
}

img {
    display: block;
    margin: auto;
}

p.outro {
    margin-bottom: 0px;
}

div.quadrado {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 50px;
}


#X {
    background-color: aqua;
}

#X2 {
    background-image: linear-gradient(45deg, orange, yellow);
}

#X3 {
    background-image: url(imagens/teste.jpg);
}