@charset 'UTF-8';

*{
    margin: 0px;
}
    
header {
    background-image: linear-gradient(360deg, var(--corbackground), var(--corbackground2));
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 2560px;
    min-width: 400px;
    letter-spacing: 2px;
}

header h1{
    font: bold 3em 'padrao';
}

header p {
    font: bold 18px 'arial';
}

:root {
    --corbackground: #2C858D;
    --corbackground2: #74CEB7;
    --bodybackground: #FFFFCB;
    --corfundotext: #b9d8dd;
    --corextra: #004056;
    --fontetexto: normal 1em 'arial';
}

@font-face {
    font-family: 'padrao';
    src: url('../BebasNeue-Regular.ttf') format('TrueType');
}

body {
    background: black url(../wallpaper004.jpg) center center fixed no-repeat; 
    background-size: cover;
}

main {
    background-color: white;
    max-width: 800px;
    min-width: 370px;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 2px rgba(167, 167, 167, 0.582);
}

article > h1 { 
    background-image: linear-gradient(90deg, var(--corbackground), var(--corbackground2));
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px 5px 0px 0px;
    font: normal 24px 'arial';
    margin-top: 30px;
}

article > p {
    background-color: var(--corfundotext);
    padding: 5px;
    text-indent: 30px;
    text-align: justify;
    border-radius: 0px 0px 5px 5px;
    font: normal 16px 'arial';
    line-height: 1.3em
}

h1.first {
    margin: 0px;
} 
