   * {
    margin: 0px;
   }
   
   div.nengue  {
        display: flex;
        width: 100px;
        background-color: rgb(255, 181, 85);
        height: 100px;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
       }

       .field {
        display: flex;
        height: 98vh;
        width: 98vw;
        background-color: rgb(65, 165, 165);
        column-gap: 10px;
        flex-direction: row;
        row-gap: 10px;
    }

    div.jooj {
        display: flex;
        width: 100px;
        background-color: rgb(0, 0, 0);
        height: 100px;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
    }

    div.oi {
        display: flex;
        width: 100px;
        background-color: rgb(255, 181, 85);
        height:100px;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
    }

    div#GIGA {
        background-color: rgb(190, 60, 147);
    }

    @media (max-width: 400px) {
        .field {
            flex-direction: column;
        }
    }