@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', 'cursive';
    --fonte2: 'Sriracha', 'cursive';
}

* {
    margin: 0px;
}


body {
    min-height: 100vh;
}

header h1 {
    margin-bottom: 10px;
    font-variant: small-caps;
    font: bold 8vw var(--fonte1);
}

header p {
    font: normal 16px 'Verdana';
}

header {
    background-color: black;
    color: white;
    text-align: center;
    max-width: 2560px;
    min-width: 344px;
    padding: 50px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    max-width: 2560px;
    min-width: 410px;
    font: normal 16px 'Verdana';
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    max-width: 2560px;
    min-width: 410px;
    font: normal 16px 'Verdana';
}

footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section p {
    line-height: 2em;
    font-family: var(--fonte2);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1.2px;
}   

section.imagem > p {
    background-color: #46444446;
    color: white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    text-shadow: 1px 1px 0px black;

}

section#dois { 
    background: black url(imagens/background002.jpg) top left no-repeat fixed;
    background-size: cover;
    max-width: 2560px;
    min-width: 400px;
    box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, 0.473);
}

section#um {
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    max-width: 2560px;
    min-width: 400px;
    box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, 0.473);
}

section.normal {
    padding-left: 10px;
}

p.Y {
    margin-bottom: 20px;
}